<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<div class="navbar-brand"> <%= link_to "ToolChest", tools_path %> </div>
		</div>
		<div class="navbar-nav pull-right">
		<%= link_to "View Cart", cart_path %>
		</div>
	</div>
</nav>