<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<div class="navbar-brand"> <%= link_to "ToolChest", tools_path %> </div>
		</div>
		<ul class="nav navbar-nav navbar-right">
		<li class="active">
		<%= link_to "View Cart", cart_path %>
		</li>
		</ul>
	</div>
</nav>