<h1>User Show Page for <%= @user.username %></h1>

<p>Logged in as <%= @user.username %></p>

<div class="user-info">
  User Information: <%= @user.username %>
</div>

<div>
  <% if @user.has_orders? %>
    <%= link_to "View Past Orders", "/orders" %>
  <% end %>
</div>
