<h1>Past Orders:</h1>
<table class="table table-striped table-hover">
	<% @orders.each do |order| %>
		<tr>
			<td><%= link_to "Order ##{order.id}", "/orders/#{order.id}" %></td>
			<td>Placed on <%= order.created_at.strftime("%A, %b %d, %Y") %></td>
			<td><%= order.quantity %> Items</td>
			<td><%= number_to_currency(order.total, :precision => 2) %></td>
		</tr>
	<% end %>
</table>
