<!-- <video poster="posterimage.jpg" autoplay="true" loop>
  <source src="~/app/assets/videos/city-skyline.mp4" type="video/mp4">
  <source src="~/app/assets/videos/city-skyline.webm" type="video/webm">
</video> -->
<div class="jumbotron">
<h1>Find a Tiny Home Today</h1>
<div>
  <%= form_for(Home.new, url: root_path) do |f| %>
  <%= f.text_field "address", placeholder: "City, State, or Zip" %>
  <%= f.submit "Search" %>
  <% end %>
</div>
</div>
</div>
