<div class="jumbotron">
<h1>Find a Tiny Home Today</h1>
<div>
  <%= form_for(Home.new, url: root_path) do |f| %>
  <%= f.text_field "address", placeholder: "City, State, or Zip" %>
  <%= f.submit "Search" %>
  <% end %>
</div>
</div>
</div>
