<div class="containter">
  <div class="jumbotron">

    <h1><%= @home.name %></h1> <br>
    <h1>Price Per Night: $<%= @home.price_per_night %></h1>

  </div>
</div>
<div class="container">
  <div class="jumbotron">
    <h1>Desctiption: </h1>
    <p><%= @home.description %></p>
  </div>
</div>
