<div class="containter">
  <div class="jumbotron">

    <h3><%= @home.name %></h3> <br>
    <h3>Price Per Night: $<%= @home.price_per_night %></h3>

  </div>
</div>
<div class="container">
  <div class="jumbotron">
    <h2>Desctiption: </h2>
    <p><%= @home.description %></p>
  </div>
</div>
