<h1>Admin Tools Index</h1>

<table>
<% @tools.each do |tool| %>
  <tr>
    <td><%= link_to "#{tool.name}", tool_path(tool) %></td>
    <td><%= button_to "Edit", edit_admin_tool_path(tool), method: :get %></td>
  </tr>
<% end %>
</table>
