.navbar-default .navbar-brand a {
    color: #0C4659;
    font-size: 45px;
    font-weight: bolder;
}

.navbar-default .navbar-brand a:hover {
  color: #20590C;
    text-decoration: none;
}

.navbar {
  margin-bottom: 0px !important;
  border-bottom: 10px !important;
  border-color: transparent !important;
}

.glyphy-butt {
  margin: 2px;
}



a:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 3em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  color: green;
}

.jumbo-text {
  font-size: 46px;
  letter-spacing: -2px;
  color: white;
}

.jumbo-p {
  color: white;
}

.tool-card {
    position: relative;
    overflow: hidden;
    background-color: #EAEAEA;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-height: 40em;
}

.rounded {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.tool-thumb {
    max-width: 100%;
    display:block;
    max-height:30%;
}

.jumbotron {
  margin-left: 0px;
  padding: 20px;
  background: url("http://www.shutterstock.com/blog/wp-content/uploads/sites/5/2012/05/img17.jpg");
  margin-right: 10ox;
}

.cart-button {
  margin-right: 10px;
}

input[type="number"] {
      font-size:   80%; 
      padding:     0px;
      padding-left: 5px;
      margin: 5px;
      width: 40px;
      height: 22px;

   } 

.q-butt {
  width: 60px;
}

.q-box {
  text-align: right;
}

.cart-box {
  border: 2px;

}

img.cart-thumb {
  height: 100px;
  width: 200px; 
  text-align: right;
  margin-right: 10px;
}

.cart-row {
  border-top-width: 2px;
  border-bottom-width: 2px;
}

.cart-row:hover{
background: #eaeaea;
}

.cart-total {
  text-align: right;
  text-weight: bold;
}

.abbr-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-height: 10em;
    max-width: 40em;
}