.dashboard-hero {
  background-color: #eaeaea;
  height: 180px;
  margin: 48px auto;
}

.btn-links a {
  font-family: 'Noto Sans', sans-serif !important;
  text-align: center;
}

.hero-name {
  margin: 24px auto;
}

.hero-links {
  margin: 12px auto;
}

.user-dashboard-avatar {
  border-radius: 50%;
  height: 120px;
  float: relative;
  margin: 24px 0px;
}

.button-margin {
  margin: 12px;
}

.form-group {
  font-family: 'Merriweather';
}

.form-label {
  font-family: 'Noto Sans', sans-serif !important;
  text-align: center;
  margin: 24px auto;
}

.bootstrap-form {
  background-color: #eaeaea;
}

.reservations {
  margin: 24px auto;
}
