.user-info {
  height: 180px;
}

.user-index-avatar {
  border-radius: 50%;
  height: 140px;
  float: relative;
  margin: 18px 0px;
}

.left {
  text-align: left;
}

.name {
  margin: 12px 0px;
}

.right {
  text-align: right;
}

.card img {
  max-height: 200px;
}

.card {
  border-style: none;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}

.price-box {
  color: #f8f8f8;
  background-color: #179f98;
}
