<div class="jumbotron">
	<div id="jumbo-hover" class="rounded">
		<div id="jumbo-container">
			<div id="search-bg"></div>
			<div class="jumbo-text">Rent the Tools You Need</div>
			<p class="jumbo-p">Need a tool? We have that tool.</p>
			<p><a class="btn btn-two btn-lg" href="#" role="button">Learn more</a></p>
		</div>
	</div>
</div>